<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.crecode.bms.dao.DeviceShareMapper" >
  <resultMap id="BaseResultMap" type="cn.crecode.bms.pojo.DeviceShare" >
    <id column="int_shared_id" property="intSharedId" jdbcType="INTEGER" />
    <result column="int_device_id" property="intDeviceId" jdbcType="INTEGER" />
    <result column="str_shared_user_tel" property="strSharedUserTel" jdbcType="VARCHAR" />
    <result column="int_group_id" property="intGroupId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    int_shared_id, int_device_id, str_shared_user_tel, int_group_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_device_share
    where int_shared_id = #{intSharedId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_device_share
    where int_shared_id = #{intSharedId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.crecode.bms.pojo.DeviceShare" >
    insert into t_device_share (int_shared_id, int_device_id, str_shared_user_tel, 
      int_group_id)
    values (#{intSharedId,jdbcType=INTEGER}, #{intDeviceId,jdbcType=INTEGER}, #{strSharedUserTel,jdbcType=VARCHAR}, 
      #{intGroupId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.crecode.bms.pojo.DeviceShare" >
    insert into t_device_share
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="intSharedId != null" >
        int_shared_id,
      </if>
      <if test="intDeviceId != null" >
        int_device_id,
      </if>
      <if test="strSharedUserTel != null" >
        str_shared_user_tel,
      </if>
      <if test="intGroupId != null" >
        int_group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="intSharedId != null" >
        #{intSharedId,jdbcType=INTEGER},
      </if>
      <if test="intDeviceId != null" >
        #{intDeviceId,jdbcType=INTEGER},
      </if>
      <if test="strSharedUserTel != null" >
        #{strSharedUserTel,jdbcType=VARCHAR},
      </if>
      <if test="intGroupId != null" >
        #{intGroupId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.crecode.bms.pojo.DeviceShare" >
    update t_device_share
    <set >
      <if test="intDeviceId != null" >
        int_device_id = #{intDeviceId,jdbcType=INTEGER},
      </if>
      <if test="strSharedUserTel != null" >
        str_shared_user_tel = #{strSharedUserTel,jdbcType=VARCHAR},
      </if>
      <if test="intGroupId != null" >
        int_group_id = #{intGroupId,jdbcType=INTEGER},
      </if>
    </set>
    where int_shared_id = #{intSharedId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.crecode.bms.pojo.DeviceShare" >
    update t_device_share
    set int_device_id = #{intDeviceId,jdbcType=INTEGER},
      str_shared_user_tel = #{strSharedUserTel,jdbcType=VARCHAR},
      int_group_id = #{intGroupId,jdbcType=INTEGER}
    where int_shared_id = #{intSharedId,jdbcType=INTEGER}
  </update>
</mapper>